.header{
    width: 100%;
    height: 70px;
    background: gray;
    }
    
    .header-ul{
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }
    
    .header-NavLink{
    width: 5%;
    text-decoration: none;
    color: white;
    padding: 20px 35px;
    text-align: center;
    cursor: pointer;
    }
    
    .header-NavLink:hover{
    background: black;
    }